header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(/assets/images/main-bkgd.jpg) lightgray 50% / cover no-repeat;
  height: 65vh;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navbar-logo {
    width: 207px;
    margin: 30px;
    position: absolute;
    top: 0;
  }

  h1 {
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    font-size: 44px;
    margin: 2.5rem 0;
  }

  .search {
    height: 70px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 11px;

    input[type="search"] {
      border: 0;
      background: transparent;
      width: 100%;
      color: $gray;
    }

    &--cancel {
      background-color: transparent;
      border: none;
      color: $gray;
      width: 16px;
      height: 50px;
      margin-right: 10px;

      &--container {
        position: relative;
        display: none;

        &::before {
          content: "";
          display: block;
          background: url(../assets/icons/cancel.svg) no-repeat center;
          width: 16px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none; // makes the pseudo-element unclickable
        }
      }
    }

    &--form {
      flex-direction: column;
    }

    &--error {
      color: red;
      font-size: small;
      padding-top: 5px;
      display: none;
    }

    &--icon {
      background-color: #000000;
      border: none;
      height: 50px;
      width: 50px;
      min-width: 50px;
      border-radius: 11px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:hover {
        background-color: $primary;
        color: #000000;
      }
    }
  }
}
